.form-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
  padding: 50px;
}

input {
  margin-bottom: 15px;
}
